<div class="hero">
  <div class="hero--content container">
    <div class="hero--tagline">
      <div class="row">
        <h2 class="col-xs-12">
          Who did your advisor know in grad school?
        </h2>
      </div>
      <div class="row">
        <p class="col-xs-12">There was a day when your advisor was young and carefree. Not only did they have more and/or less and/or longer and/or shorter hair, but they were probably also grad school friends with other fun people. Here, see who your advisor probably knew in grad school.</p>
      </div>
      <div class="row">
        <p class="col-xs-12">To include or remove someone, <a href="https://docs.google.com/spreadsheets/d/1GSyL-GTHj2zMvt-WenZK9ZI9u16-evdPyp_xDoeSMYo/edit#gid=657066918" target="_new">edit this spreadsheet</a>. We <a href="http://www.daemo.org" target="_new">crowdsourced</a> the initial set of graduation dates. Thanks to <a href="https://www.semanticscholar.org/" target="_new">Semantic Scholar</a> for the paper and citation dataset. <a href="https://github.com/mbernst/gradschoolfriends">GitHub source</a>. Last updated {{ 'now' | date: "%B %d %Y" }}.</p>
      </div>
    </div>
  </div>
</div>
